#color-operador{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(rgb(255,255,255), rgb(255,0,0));
    -fx-border-color: black;           /* Color del borde */
    -fx-border-width: 2px;             /* Grosor del borde */
    -fx-border-radius: 10px;           /* Radio de redondeo del borde */
}

#color-numeros{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(rgb(255,255,255), rgb(0,0,255));
    -fx-border-color: black;           /* Color del borde */
    -fx-border-width: 2px;             /* Grosor del borde */
    -fx-border-radius: 10px;           /* Radio de redondeo del borde */
}

#color-btnclear{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(rgb(255,255,255), rgb(255,0,0));
    -fx-border-color: black;           /* Color del borde */
    -fx-border-width: 2px;             /* Grosor del borde */
    -fx-border-radius: 10px;           /* Radio de redondeo del borde */
}