.root{
    -fx-background-image: url("../images/wallpaper_tap2024.jpg"), url("../images/logo_itcelaya.png");
    -fx-background-size: 100%, 200px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, bottom right;
}